@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #ededff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 90%;
    max-width: 320px;
    background: #32384f;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
}

.top-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-heart {
    margin-right: 10px;
}

.user-img {
    width: 100px;
    border-radius: 50%;
}

.profile h2 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
}

.profile p {
    font-size: 12px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background: linear-gradient(to right, #8d68c5, #e34494);
    display: inline-block;
    margin: 40px 0;
    font-size: 15px;
}

.head_div {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.head_div h3 {
    text-align: start;
    margin-left: 20px;
    font-weight: 150;
}

.see_all {
    text-align: right;
    font-weight: 150;
    text-decoration: none;
    color: #a19f9f;
}



.friend {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.friend_block {
    display: block;
    cursor: pointer;
    border-radius: 50px;
}

/*.friend_block:hover {*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

.friends {
    margin-top: 5px;
    width: 100%;
    max-height: 175px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition-duration: 5s;
}

.friends::-webkit-scrollbar {
    width: 2px;
}

.friends::-webkit-scrollbar-thumb {
    background: grey;
}

.friends:hover::-webkit-scrollbar {
    width: 5px;
}

.friends h4 {
    font-weight: 200;
    margin-left: 20px;
    font-size: 18px;
}

.friend-img {
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.camera_img {
    width: 25px;
    height: 25px;
    margin-bottom: 1px;
}

.camera_button {
    /*line-height: 30px;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-left: -30px;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .friends:hover::-webkit-scrollbar {
        width: 2px;
    }
}
